.map {
	position: absolute;
	left: 0;
	right: 0;
	height: 215px;

	@media(min-width: 410px) {
		height: 300px;
	}

	.media-tablet({ height: 514px;});

	.media-lg({ left: 50%; height: 520px;});

	&__balloon {
		position: relative;
		padding: 2.5rem;
		width: 15em;
		font-size: @font-size--medium;
		background: #fff;
		box-shadow: 0 20px 40px rgba(40, 40, 40, 0.5);
		z-index: 600;
	}

	&__balloon-wrapper {
		position: relative;
	}

	&__balloon-title {
		display: block;
		font-weight: 700;
		margin-bottom: 1em;
	}

	&__balloon-address {
		margin-bottom: 0;
		line-height: 1.5em;
	}

	&__balloon-triangle {
		height: 40px;
		width: 40px;
		position: relative;
		left: 3.75rem;
		overflow: hidden;
		box-shadow: -11px -2px 31px -13px rgba(0, 0, 0, .5);

		&:after {
			content: "";
			position: absolute;
			width: 56.5px;
			height: 56.5px;
			background: #fff;
			transform: rotate(45deg);
			top: -28px;
			left: -28px;
			box-shadow: 0px -1px 24px -6px rgba(0, 0, 0, 0.5);
		}

		&:before {
			content: "";
			position: absolute;
			width: 56.5px;
			height: 56.5px;
			background: #fff;
			transform: rotate(45deg);
			top: -28px;
			left: -28px;
			z-index: 800;
		}
	}
}