//------------------------------------------------------------------------------
//  Общие стиля любой кнопки
//------------------------------------------------------------------------------


.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  padding: @btn-padding;
  font-size: @font-size--small;
  line-height: @btn-line-height;
  background-color: @color__red;
  color: @color__white;
  border: 3px solid @color__red;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.3s;

  // &--hover,
  &:hover {
    background: transparent;
  }

  &:active {
    background: transparent;
  }
}

.btn--transparent {
  background-color: transparent;

  &:hover {
    background-color: @color__red;
  }
}

.btn--color-gray {
  color: #ffffff;

  &:hover {
    color: @color__gray-dark;
  }
}



//------------------------------------------------------------------------------
//  Примесь-генератор цветовых стилей
//------------------------------------------------------------------------------


.btn-color-variant(@color: @color__pink; @background: @color__white) {
  color: @color;
  background-color: @background;
  &:hover {
    color: @color;
    background-color: @background;
  }
}
